@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font: 500 100%/1 'DM Sans', -apple-system, Helvetica, sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.04em;
  line-height: 1;
  margin: 1rem 0;
}
h2 {
  font-size: 1.25rem;
  margin: 3rem 0 1rem;
}
p {
  line-height: 1.3;
  opacity: 0.5;
  white-space: pre-wrap;
}

small,
.small {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

body {
  color: #00333d;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

svg {
  height: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button,
input {
  border-radius: 0.5rem;
  color: inherit;
  font: inherit;
  padding: 1rem;
}
button {
  background: #96ffb8;
  border: unset;
  cursor: pointer;
}
input {
  border: 1px solid #ddd;
}

/* copied from Experiment #5 */

.iphone-14 {
  /* background: #0001; */
  background: linear-gradient(#ff7aa1, #00333d);
  border-radius: 2.5rem;
  color: white;
  height: 844px;
  overflow: hidden;
  padding: 1.5rem;
  word-wrap: break-word;
  width: 390px;
}

#collection {
  display: none;
  gap: 1rem;
  margin: 0 -2rem;
  overflow-y: auto;
  padding: 0 2rem;
}
#collection > div {
  flex: 1 0 390px;
}

#cover {
  background: linear-gradient(#ff7aa1, #00333d);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cover-small {
  font-size: 14px;
}

.cover-date {
  font-size: 18px;
}
.cover-prompt {
  font-size: 24px;
  font-style: italic;
  line-height: 1.3;
  margin: 1rem 0;
  opacity: 0.5;
  text-transform: lowercase;
}
.cover-acts {
  display: flex;
  gap: 1rem;
}
.cover-act {
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid #fff3;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  padding: 1rem;
}
.cover-brand {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 2px;
  letter-spacing: -0.02em;
  margin: 3rem 0 0;
}
.cover-brand small {
  opacity: 0.3;
}

#agenda {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#agenda iframe {
  border: 0;
  bottom: -15%;
  height: 130%;
  left: -15%;
  position: absolute;
  right: -15%;
  top: -15%;
  width: 130%;
  z-index: 1;
}
.filter {
  background: linear-gradient(#ff7aa1cc, #00333dcc);
  border: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#plan {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  overflow-y: auto;
  z-index: 3;
}
.plan-group {
  display: flex;
  gap: 1rem;
}
.plan-time-of-day {
  font-size: 14px;
  font-weight: 700;
  width: 5rem;
}
.plan-stack {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.plan-name {
  line-height: 1.1;
  margin: 0 0 0.5rem;
}
.plan-reason {
  line-height: 1.3;
  opacity: 0.5;
}

.marker {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  color: #00333d;
  display: flex;
  font-size: 1rem;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

#media {
  display: flex;
  gap: 1rem;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.story .plan-group {
  min-height: 10rem;
  z-index: 2;
}
.plan-video,
.story video {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.story video::after {
  background: linear-gradient(#ff7aa1cc, #00333dcc);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
